[mysqld]
plugin-load=libmemcached.so
session_track_gtids=1
ssl-ca=/etc/mysql/conf.d/ca.pem
ssl-cert=/etc/mysql/conf.d/server-cert.pem
ssl-key=/etc/mysql/conf.d/server-key.pem
default-authentication-plugin=mysql_native_password
enforce_gtid_consistency=ON
gtid_mode=ON
collation-server = utf8_unicode_ci
character-set-server = utf8
